extends layout

block content
	.jumbotron
		.container
			h1 How May I Help You?
			p Occaecat amet volutpat adipisci porta sollicitudin curae mollis. Non, scelerisque justo nisi. Sapien exercitationem erat risus enim excepturi doloribus reprehenderit ab. Auctor qui orci, fugiat animi placeat mus atque reiciendis, officia sequi consequuntur, congue error. Saepe officiis! Blanditiis gravida quasi fames officia corporis? Reprehenderit fugit arcu, nemo sem condimentum eius.

	.container
		.row
			.col-md-4
				h2 About Us
				p Occaecat amet volutpat adipisci porta sollicitudin curae mollis. Non, scelerisque justo nisi. Sapien exercitationem erat risus enim excepturi doloribus reprehenderit ab. Auctor qui orci, fugiat animi placeat mus atque reiciendis, officia sequi consequuntur, congue error. Saepe officiis! Blanditiis gravida quasi fames officia corporis? Reprehenderit fugit arcu, nemo sem condimentum eius.
				a.btn.btn-default(href='#') View Details		

			.col-md-4
				h2 Services
				p Occaecat amet volutpat adipisci porta sollicitudin curae mollis. Non, scelerisque justo nisi. Sapien exercitationem erat risus enim excepturi doloribus reprehenderit ab. Auctor qui orci, fugiat animi placeat mus atque reiciendis, officia sequi consequuntur, congue error. Saepe officiis! Blanditiis gravida quasi fames officia corporis? Reprehenderit fugit arcu, nemo sem condimentum eius.
				a.btn.btn-default(href='#') View Details		


			.col-md-4
				h2 Contact us
				p Occaecat amet volutpat adipisci porta sollicitudin curae mollis. Non, scelerisque justo nisi. Sapien exercitationem erat risus enim excepturi doloribus reprehenderit ab. Auctor qui orci, fugiat animi placeat mus atque reiciendis, officia sequi consequuntur, congue error. Saepe officiis! Blanditiis gravida quasi fames officia corporis? Reprehenderit fugit arcu, nemo sem condimentum eius.
				a.btn.btn-default(href='#') View Details		
  
  
